<!DOCTYPE html>
<html>
<head>
	<title>Create</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="../stylesheet.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>
<body>
	<main class="main">
		<div id="header" class="col-md-12 col-sm-12 text-center">
			<h1>Tiny URL Maker</h1>
		</div>
		<div class="container">
			<div id="body" class="col-md-12 col-sm-12 text-center">			
				<h3>Full URL:  <%= updateURL.url %></h3>
				<h3><a href="<%= updateURL.hash %>">Tiny URL: <%= myHost %>/<%= updateURL.hash %></a></h3>
			</div>
		</div>
		</div>
	</main>
</body>
</html>